@font-face {
   font-family: '3270SemiNarrow';
   font-display: swap;
   src: url('file:///Users/winstonren/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-08-06_135543/fonts/3270SemiNarrow/font.ttf');
}
