@font-face {
   font-family: 'Hack-Regular';
   font-display: swap;
   src: url('file:///Users/winstonren/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-08-06_135543/fonts/Hack-Regular/font.ttf');
}
